.table {
    width: 680px;
    text-align: center;
    border-collapse: collapse;
}

table,
th,
td {
    width: 33%;
    padding: 4px;
    font-size: 20px;
}

th,
td {
    border: 4px solid #272727;
}

.header {
    background-color: #242424;
    color: white;
    font-size: 14px;
}

td:first-child {
    padding-left: 60px;
    text-transform: capitalize;
    text-align: left;
}

td:last-child {
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #A9A9A9;
}